header {
  padding: 2rem
}

.horizontal-rule {
  margin: 1rem -1rem 3rem -1rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.title-row {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.title-row h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

#content {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1;
  gap: 0.5rem;
}

#content>div.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  transition: all .1s;
  border: 1px solid rgb(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.5);
}

#content>div.item span {
  color: rgb(255, 255, 255, 0.5);
}

#content>div.item.selected span,
#content>div.item:hover span{
  color: rgb(255, 255, 255);
}

#content>div.item:hover,
#content>div.item:active,
#content>div.item.selected {
  cursor: pointer;
  color: #895cce;
  font-weight: 500;
  background-color: rgb(61, 59, 59);
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
}

#content>div .material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 50
}

.dropdown {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.dropdown .arrow {
  opacity: 0;
  transition: opacity 0.2s, transform 0.3s ease;
}


.dropdown:hover .arrow {
  opacity: 1;
}


.dropdown.open .arrow {
  opacity: 1;
  transform: rotate(-90deg);
}

.dropdown-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 2rem;
  font-size: 15px;
  gap: 0.5em;
  color: rgba(255, 255, 255, 0.6);

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding-top 0.3s ease-out, padding-bottom 0.3s ease-out;
}

.dropdown-content.open {
  opacity: 1;
  max-height: 200px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.dropdown-content>div {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all .1s;
  border: 1px solid rgb(255, 255, 255, 0);
  border-radius: 5px;
}


.dropdown-content>div span {
  color: rgb(255, 255, 255, 0.5);
}

.dropdown-content>div:hover span,
.dropdown-content>div.selected span {
  color: white;
}


.dropdown-content>div:hover,
.dropdown-content>div.selected {
  color: #895cce;
  font-weight: 500;
  background-color: rgb(61, 59, 59);
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
}