header {
  padding: 2rem;
  background-color: var(--bg-light);
  height: 100%;

  user-select: none;
}

.bg {
  background-color: var(--bg);
}

.horizontal-rule {
  margin: 1rem -1rem 3rem -1rem;
  height: 1px;
  background-color: var(--border-light);
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.title-row {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.title-row h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text)
}

.header {
  margin: 0;
  padding: 0;
  font-size: .95rem;
  font-weight: 300;
  color: var(--text-muted)
}

#content {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1;
  gap: 0.5rem;
}

#content>div.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  transition: all .1s;
  border: var(--no-line);
  color: var(--text-muted);
}

#content>div.item span {
  color: var(--text-muted)
}

#content>div.item:hover,
#content>div.item:active,
#content>div.item.selected {
  cursor: pointer;
  color: var(--text-secondary);
  font-weight: bold;
  background-color: var(--bg);
  border: var(--no-line);
  border-radius: 5px;
  box-shadow: var(--shadow-m);

  
}

#content>div.item.selected {
  .material-symbols-outlined {
      font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 50
    }
}