<!-- <article>
    <p> Favor: {{ stat().puntos_favor_totales }} </p>
    <p> Contra: {{ stat().puntos_contra_totales }} </p>

    <p> Jugadas: {{ stat().partidas_jugadas }} </p>
    <p> Ganadas: {{ stat().partidas_ganadas }} </p>
    <p> Perdidas: {{ stat().partidas_perdidas }} </p>
    <p> Islas: {{ stat().isla }} </p>
</article> -->

<div class="stats">
    <div class="stats-item">
        @if (stat().puntos_favor_totales) {
        <p>
            {{ stat().puntos_favor_totales }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Puntos <span style="color: lightgreen;">totales</span></span>
    </div>

    <div class="stats-item">
        @if (stat().puntos_contra_totales) {
        <p>
            {{ stat().puntos_contra_totales }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Puntos en <span style="color: lightcoral;">contra</span></span>
    </div>

    <div class="stats-item">
        @if (stat().isla) {
        <p>
            {{ stat().isla }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Islas</span>
    </div>

    <div class="stats-item">
        @if (stat().partidas_ganadas) {
        <p>
            {{ stat().partidas_ganadas }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Partidas ganadas</span>
    </div>

    <div class="stats-item">
        @if (stat().partidas_perdidas) {
        <p>
            {{ stat().partidas_perdidas }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Partidas perdidas</span>
    </div>

    <div class="stats-item">
        @if (stat().partidas_jugadas) {
        <p>
            {{ stat().partidas_jugadas }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Total de partidos</span>
    </div>
</div>