.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;
  text-align: center;
  animation: appear 1s;
}

.stats-item {
  padding: 0.5rem;
}

.stats-item:not(:nth-child(3n)) {
  border-right: var(--border-light-card);

}

.stats-item p {
  font-size: 70px;
  margin: 0;
  padding: 0;
}

.stats-item span {
  font-size: 15px;
  color: var(--text-muted);
}

@media (max-width:390px) {
  .stats {
    display: grid;
    gap: 1rem;
    grid-template-columns:
      1fr 1fr;

  }

  .stats-item:not(:nth-child(3n)) {
    border-right: none;
  }

  .stats-item:nth-child(odd) {
    border-right: var(--border-light-card);
  }

}