<div class="stats">
    <div class="stats-item">
        @if (stat().puntos_favor_totales) {
        <p>
            {{ stat().puntos_favor_totales }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Puntos <span style="color: var(--green)">totales</span></span>
    </div>

    <div class="stats-item">
        @if (stat().puntos_contra_totales) {
        <p>
            {{ stat().puntos_contra_totales }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Puntos en <span style="color: var(--red)">contra</span></span>
    </div>

    <div class="stats-item">
        @if (stat().puntos_favor_totales && stat().puntos_contra_totales) {
        <p>
            {{ stat().puntos_favor_totales -  stat().puntos_contra_totales}}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Diferencia</span>
    </div>

    <div class="stats-item">
        @if (stat().partidas_ganadas) {
        <p>
            {{ stat().partidas_ganadas }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Partidas ganadas</span>
    </div>

    <div class="stats-item">
        @if (stat().partidas_perdidas) {
        <p>
            {{ stat().partidas_perdidas }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Partidas perdidas</span>
    </div>

    <div class="stats-item">
        @if (stat().partidas_jugadas) {
        <p>
            {{ stat().partidas_jugadas }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Total de partidos</span>
    </div>

    <div class="stats-item">
        @if (stat().torneos_ganados) {
        <p>
            {{ stat().torneos_ganados }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Torneos ganados</span>
    </div>

    <div class="stats-item">
        @if (stat().torneos_perdidos) {
        <p>
            {{ stat().torneos_perdidos }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Torneos Perdidos</span>
    </div>


    <div class="stats-item">
        @if (stat().torneos_jugados) {
        <p>
            {{ stat().torneos_jugados }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Total de Torneos</span>
    </div>

    <div class="stats-item">
        @if (stat().islas) {
        <p>
            {{ stat().islas }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>Islas</span>
    </div>

    <div class="stats-item">
        @if (stat().s2in1) {
        <p>
            {{ stat().s2in1 }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>2 en 1</span>
    </div>

    <div class="stats-item">
        @if (stat().s3in1) {
        <p>
            {{ stat().s3in1 }}
        </p>
        } @else {
        <p>
            0
        </p>
        }
        <span>3 en 1</span>
    </div>


</div>