.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;

  text-align: center;

  animation: appear 1s;
}

.stats-item {
  padding: 0.5rem;
}

.stats-item:not(:nth-child(3n)){
  border-right: 1px solid rgb(255, 255, 255, 0.1);

}

.stats-item p {
  font-size: 70px;
  margin: 0;
  padding: 0;
}

.stats-item span {
  font-size: 15px;
  color: rgb(255, 255, 255, 0.5);
}