h2 {
  font-weight: 250;
  text-align: center;
}

form {
  animation: appear 1s;
  align-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px transparent inset !important;
  -webkit-text-fill-color: var(--text) !important;
  transition: background-color 9999s ease-in-out 0s;
}

input {
  border-bottom: var(--border-light-card) !important;
  outline: none !important;

}

input {
  width: 25%;
  color: var(--text);
  font: inherit;
  padding: 0.15rem 0.25rem;
  background-color: transparent;
  border: 0;

  transition: width 0.4s ease-in-out;
}

input:focus {
  width: 30%;
  border-bottom: var(--border-secondary-card) !important;
  border: 0;
}

input::placeholder {
  color: var(--text-muted);
}


p.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 150;
  text-align: center;
}

span {
  margin: 0;
  padding: 0;
}