.matches-container {
  margin-top: 20px;
}

.match-group {
  display: inline-block;
  max-width: 40rem;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.team-info {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
}

.vs {
  margin: 0 10px;
  color: #666;
}

.score-inputs {
  display: flex;
  gap: 15px;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-left: 10px;
}

.button {
  display: inline-block;
  width: 99%;
  text-align: center;
  padding: 0;
  margin: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn-save-single {
  margin-left: 20px;
}

.saved {
  background-color: lightgreen;
}