<form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
    <div style="text-align: center;">
        <div style="display: inline-block;">
            <label>Nombre del Torneo:</label>
            <input type="text" formControlName="name">
            <label style="padding-left: 2rem;">Lugar: </label>
            <input type="text" formControlName="place">
        </div>
    </div>

    <app-leaderboard [matches]="matchesForLeaderboard()" />

    <div formArrayName="matches" class="matches-container">

        <div style="text-align: center;">
            <h3>Partidos:</h3>
            @for ( matchGroup of matches.controls; track i; let i = $index) {

            <div [formGroupName]="i" class="match-group">
                <div class="team-info">
                    <span class="home-team">{{ matchGroup.value.player1Nickname }}</span>
                    <label>
                        <input type="number" formControlName="scoreP1" min="0" placeholder="0"
                            [ngClass]="{'saved':matchHasBeenSubmited(i)}">
                    </label>
                    <span class="vs">vs</span>
                    <span class="away-team">{{ matchGroup.value.player2Nickname }}</span>
                    <label>
                        <input type="number" formControlName="scoreP2" min="0" placeholder="0"
                            [ngClass]="{'saved':matchHasBeenSubmited(i)}">
                    </label>
                    @if (matchGroup.invalid || !matchGroup.pristine) {
                    <button type="button" (click)="onSingleSubmit(i)"
                        [disabled]="matchGroup.invalid || matchGroup.pristine">
                        Guardar
                    </button>
                    }
                </div>
            </div>
            }
        </div>
    </div>
    <div class="button">
        <button type="submit" [disabled]="tournamentForm.invalid || !matches.pristine">
            Guardar Resultados
        </button>
    </div>
</form>