ul {
  list-style-type: none;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; /* Centra las cartas si sobra espacio a los lados */
}

app-match {
  flex: 0 0 20rem; 
}

.horizontal-rule {
  height: 1px;
  background-color: var(--border-light);
}

menu {
  text-align: center;
}

a {
  margin: 4rem 0 0 0;
}