ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 1rem;
}

.horizontal-rule {
  height: 1px;
  background-color: var(--border-light);
}


div {
  text-align: center;
}

menu {
  text-align: center;
}

a {
  margin: 4rem 0 0 0;
}