.container {
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;

  scrollbar-color: var(--border) transparent;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-secondary);
}

.container::-webkit-scrollbar {
  display: none;
}

app-match {
  flex: 0 0 20rem;
}

.horizontal-rule {
  height: 1px;
  background-color: var(--border-light);
}