ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 1rem;
}

.horizontal-rule {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}


div {
  text-align: center;
}

menu {
  text-align: center;
}