.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom:1rem;
}

app-match {
  flex: 1 1 auto;
  max-width: 100%;
}

.horizontal-rule {
  background-color: var(--border-light);
}