div {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: 200;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

p {
    color: rgb(255, 255, 255, 0.6);
    font-size: 15px;
    margin: 0;
    animation: moveInRight 1s ease-in-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}