.content {
    display: flex;
}

.vertical-line {
    display: flex;
    margin: -1rem 0 -1rem 1.5rem;
    grid-column: 1;
    width: 2px;
    background-color: rgba(255,255,255,0.1);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}