.content {
    display: flex;
}

.players {
    display: flex;
}

.players-content {
    flex: 1 1 auto;
}

.vertical-line {
    display: flex;
    margin: -1rem 0 -1rem 1.5rem;
    grid-column: 1;
    width: 2px;
    background-color: var(--border-light);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media (max-width:390px){
  div{
    width: 75%;
  }

  .vertical-line {
    display: none;
}

}