.error {
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
  background-color: var(--bg-light);
  color: var(--text);
}

.confirmation-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  box-shadow: var(--shadow-l);
  color: var(--text);
}

button:hover,
button:focus {
  background-color: var(--text-secondary);
}
