main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vh;
    gap: 1rem;
    margin: 1rem auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border-radius: .5rem;
    padding: .5rem 1.25rem;
}

.container {
    color: var(--text-muted);
    background-color: var(--bg-light);
    border: var(--border-card);
    box-shadow: var(--shadow-s);
}

.container:hover,
.selected {
    cursor: pointer;
    color: var(--text-secondary);
    border-color: var(--text-secondary);
    box-shadow: var(--shadow-l);
    transform: translateY(-2px);
}

.selected {
    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 50
    }
}

.horizontal-rule {
    width: 80vh;
    margin: 1rem auto;
    height: 1px;
    background-color: var(--border-light);
}