<div class="bracket disable-image">
    @for (roundMatches of rounds(); track $index; let roundIdx = $index) {
    <div class="column" [ngClass]="getRoundClass(roundIdx)">
        @for (match of roundMatches; track match.matchId) {
        <div class="match" [class.winner-top]="match.homeScore > match.awayScore"
            [class.winner-bottom]="match.awayScore > match.homeScore" (click)="openUpdateModal(match)">

            @if (selectedMatch === match && fields()?.status !== "Finalizado") {
                <div (click)="$event.stopPropagation()">
                    <app-match-update 
                    [match]="match" 
                    (close)="selectedMatch = null"
                    (submitUpdate)="onSingleSubmit($event)"
                    />
                </div>
            }
            
            <div class="match-top team">
                <span class="name">
                    {{
                    (match?.home?.nickname?.includes(' '))
                    ? (match.home.nickname.split(' ')[0] + ' ' + match.home.nickname.split(' ')[1].charAt(0) + '...')
                    : (match?.home?.nickname || '')
                    }}

                </span>
                <div class="badge-container">
                    @if (match.homeIsla) {
                    <span class="badge">Isla</span>
                    }
                    @if (match.home2in1) {
                    <span class="badge">2en1</span>
                    }
                    @if (match.home3in1) {
                    <span class="badge">3en1</span>
                    }
                </div>
                <span class="score">{{ match.homeScore }}</span>
            </div>

            <div class="match-bottom team">
                <span class="name">
                    {{
                    (match?.away?.nickname?.includes(' '))
                    ? (match.away.nickname.split(' ')[0] + ' ' + match.away.nickname.split(' ')[1].charAt(0) + '...')
                    : (match?.away?.nickname || '')
                    }}
                </span>
                <div class="badge-container">
                    @if (match.awayIsla) {
                    <span class="badge">Isla</span>
                    }
                    @if (match.away2in1) {
                    <span class="badge">2en1</span>
                    }
                    @if (match.away3in1) {
                    <span class="badge">3en1</span>
                    }
                </div>
                <span class="score">{{ match.awayScore }}</span>
            </div>

            <div class="match-lines">
                <div class="line one"></div>
                <div class="line two"></div>
            </div>
            <div class="match-lines alt">
                <div class="line one"></div>
            </div>

        </div>
        }
    </div>
    }
</div>