menu {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0;
}

div {
  width: 100%;
}

header {
  display: flex;
  max-width: 50rem;
  margin: 5rem auto;

  margin-bottom: 0;
}


@media (max-width:390px){
  div{
    margin-left: -3rem;
  }

}