.icon {
  top: 2rem;
  right: 2rem;
  z-index: 3;
}

.layout {
  display: flex;
  width: 100%;
}

.sidenav {
  width: 300px;
  flex-shrink: 0;
  color: #fff;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-right: var(--border-light-card);
  box-shadow: var(--shadow);

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidenav.open {
  transform: translateX(0);
}


.sidenav.open~.content {
  margin-left: 300px;
  width: calc(100% - 300px);
}

.content {
  margin-left: 0;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.open-content {
  margin-left: 300px;
  width: calc(100% - 300px);
}

.btn-open {
  position: absolute;
  display: flex;
  top: 5.3rem;
  right: -0.8rem;

  justify-content: center;
  max-width: 1.5rem;
  border-radius: 50%;
  border: var(--border-light-card);
  background-color: var(--bg-light);

  cursor: pointer;
}

.btn-close {
  animation: appear 2s;
  position: absolute;
  display: flex;
  top: 2rem;
  right: -4rem;

  justify-content: center;
  max-width: 1.5rem;
  background-color: transparent;
  border: 0px;


  cursor: pointer;
}