.leaderboard-container {
  max-width: 80vh;
  margin: 0 auto;

  padding-bottom: 1.75rem;
}

table {
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border-card);
  overflow: hidden;
  box-shadow: var(--shadow);
  background-color: var(--bg-light);
}


table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
  border-bottom: var(--border-card);
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

tr:last-child td,
tr:last-child th {
  border-bottom: none;
}

th {
  background-color: var(--bg-dark);
  color: var(--text-secondary);
}

tbody tr:hover {
  background-color: var(--bg);
}


.player-name {
  text-align: left;
}

.wins {
  color: var(--green);
}

.losses {
  color: var(--red);
  font-weight: bold;
}

.top-one {
  background: linear-gradient(90deg, 
    hsla(264, 54%, 58%, 0.15) 0%, 
    transparent 100%);
}

.leaderboard-table tbody tr.top-one:hover {
  background: linear-gradient(90deg,
      hsla(264, 54%, 58%, 0.2) 0%,
      var(--bg-light) 100%);
}

.top-one .player-name {
  color: var(--text-secondary);
  font-weight: bold;

}

.positive {
  color: var(--green);
}

.negative {
  color: var(--red);
}

.empty-msg {
  padding: 20px;
  color: var(--text-muted);
  font-style: italic;
}