div {
  color: var(--text-muted);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  border: var(--no-line);
  border-radius: 6px;
  animation: appear 2s;
}

h3 {
  cursor: pointer;
}

a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  border: none;
  font: inherit;
  cursor: pointer;
  min-width: 10rem;
  text-align: left;
  text-decoration: none;
}

div:hover,
div.selected {
  color: var(--text);
  background-color: var(--bg-light);
  border: var(--no-line);
  border-radius: 6px;
  transform: scale(1.03);
  box-shadow: var(--shadow-l);
}

span {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: normal;
}