h2 {
    text-align: center;
}

h3 {
    padding: 0;
    margin: 0;
}

span {
    font-size: 2rem;
    color: var(--text-muted);
}

.box {
    display: flex;
    justify-content: space-around;
}

.section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: .25rem .5rem .25rem .5rem;
    margin: 0.5rem;
    width: 10rem;

    background: var(--bg-light);
    border: var(--border-card);

    border-radius: 10px;
    box-shadow: var(--shadow-s);

    color: var(--text-muted);
    text-align: center;
}

.section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    background-color: var(--text-secondary);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

p {
    margin: 0;
    padding: 0;
}

.selected,
.section:hover {
    cursor: pointer;
    border-bottom: solid 2px var(--text-secondary); 
    color: var(--text-secondary);
    box-shadow: var(--shadow-l);

}

.material-symbols-outlined{
    font-size: 1.5rem;
}

.selected .material-symbols-outlined,
.section:hover .material-symbols-outlined {
    color: var(--text);
    font-variation-settings:
        'FILL' 1
}

.horizontal-rule {
    height: 1px;
    background-color: var(--border-light);
    margin: 2rem 0 2rem 0;
}

main {
    width: 100%;
    max-width: 50rem;
    margin: 2.5rem auto;
    border-radius: 10px;
    user-select: none;
}