.active {
  visibility: visible;
}

.disabled {
  visibility: hidden;
}


.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 1);
}

dialog {
  width: 100%;
  max-width: 80rem;
  background-color: #433352;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 1rem;
  top: 5rem;
}

menu {
  text-align: center;
}

.button {
  display: inline-block;
  width: 100%;
  text-align: center;
}
button {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
}

button[type="button"] {
  color: rgba(0, 0, 0, 0.8);
  background-color: #bdadcf;
}

button[type="button"]:hover,
button[type="button"]:active {
  color: rgba(0, 0, 0, 1);
}

div {
  padding-left: 10px;
  flex-direction: row;
}

header {
  display: flex;
  max-width: 80rem;
  margin: 2.5rem auto;
  border-radius: 10px;
}

header div {
  width: 80%;
}