h1 {
  color: var(--text);
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 400;
}

.h1{
  color: var(--text);
  font-size: 1.95rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  padding-bottom: 2rem;
  gap: 2rem;

}

.close {
  display: flex;
  margin-bottom: -1rem;
  flex: 1 0 100%;
  justify-content: end;
}
.icon {
  position: static;
  margin: 0.5rem;
  margin: 0.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: var(--border-card);
  border-top: solid 1px var(--highlight);
  border-radius: 6px;
  background: var(--bg);
  box-shadow: var(--shadow-l);
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;  
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}