<!-- <app-leaderboard [results]="matches()" /> -->

<div class="grid-container"> 
    
    @for (match of matches(); track $index) {
        <div>
            <div class="matches">
                @if (match.homeScore > match.awayScore) {
                    <span style="color: lightgreen;">
                        {{ match.home.nickname }}: {{ match.homeScore }}
                    </span>
                    <span> VS </span>
                    <span>
                        {{ match.away.nickname }}: {{ match.awayScore }}
                    </span>
                } @else {
                    <span>
                        {{ match.home.nickname }}: {{ match.homeScore }}
                    </span>
                    <span>VS</span>
                    <span style="color: lightgreen;">
                        {{ match.away.nickname }}: {{ match.awayScore }}
                    </span>
                }
            </div>
        </div>
    }
</div>