<app-leaderboard [matches]="matches()" />

<div class="grid-container"> 
    @for (match of matches(); track $index) {
        <div>
            <div class="matches">
                @if (match.scoreP1 > match.scoreP2) {
                    <span style="color: lightgreen;">
                        {{ match.player1Nickname }}: {{ match.scoreP1 }}
                    </span>
                    <span> VS </span>
                    <span>
                        {{ match.player2Nickname }}: {{ match.scoreP2 }}
                    </span>
                } @else {
                    <span>
                        {{ match.player1Nickname }}: {{ match.scoreP1 }}
                    </span>
                    <span>VS</span>
                    <span style="color: lightgreen;">
                        {{ match.player2Nickname }}: {{ match.scoreP2 }}
                    </span>
                }
            </div>
        </div>
    }
</div>